extends layout.pug
block content
    link(href="/css/button.css", rel="stylesheet", type="text/css")
    for user in users
        div(class="userDetails")
            div
                label="Name:"
                span=user.name + " / " + user.username
            .button.fancy.red
                a.button1(href="/toAdmin/" + user.id)="Make admin"
            br
            .button.fancy.blue
                a.button2a(href="/unAdmin/" + user.id)="Remove admin"
            div
                label="email:"
                span=user.email
            div
                label="role:"
                span=user.roles
            div
                label="Best IDE:"
                    if(user.ide)
                        span=" Option: " + user.ide 
                    else
                        span="N/A"
            div
                label="Best Language:"
                    if(user.language)
                        span=" Option: " + user.language 
                    else
                        span="N/A"
            div
                label="Best Theme:"
                    if(user.theme)
                        span=" Option: " + user.theme
                    else
                        span="N/A"
