extends layout.pug
block content
    for user in users
        div(class="centering")
            label.
                #[strong="Username: "] #{user.username}
            br
            label.
                #[strong="Name: "] #{user.name}
            br
            label.
                #[strong="User ID: "] #{user._id}
            br
            label.
                #[strong="Email: "] #{user.email}
            br
            label.
                #[strong="Admin Status: "] #{user.roles.includes("Admin") ? "Admin" : "Not Admin"}
            br
            a(href="/ToAdmin/" + user._id)="Make admin"