extends layout.pug
block content
    <section id="boxes">
    <div class="container">
    <section id="showcase">
    <div class="container">
    for user in users
        div(class="userBox gridBox")
            div(class="userDetails")
                div(class="title")
                    a(href="/toAdmin/" + user.id)="Make admin"
                    a(href="/unAdmin/" + user.id)="Remove admin"

            div
                label="name:"
                span=user.name
            div
                label="email:"
                span=user.email
            div
                label="role:"
                span=user.roles
            div
                label="Best IDE:"
                    if(user.ide)
                        span=" Option: " + user.ide 
                    else
                        span="N/A"
            div
                label="Best Language:"
                    if(user.language)
                        span=" Option: " + user.language 
                    else
                        span="N/A"
            div
                label="Best Theme:"
                    if(user.theme)
                        span=" Option: " + user.theme
                    else
                        span="N/A"
