extends layout.pug
block content
    <section id="boxes">
    <div class="container">
    <section id="showcase">
    <div class="container">
    for user in users
        div(class="userBox gridBox")
            div(class="userDetails")
                div(class="title")
                li
                    a(href="/toAdmin/" + user.id)="Make admin"
            div
                label="name:"
                span=user.name
            div
                label="email:"
                span=user.email
            div
                label="role:"
                span=user.roles