html
    head
        if(title)
            title="Reality Grab - " + title
        else
            title="Reality Grab - " + tabTitle
        if(css2link)
            link(href=css2link, rel="stylesheet", type="text/css")
        link(href="/css/style.css", rel="stylesheet", type="text/css")
    body
        nav
            a(href="/")="Home"
            a(href="/Ides")="Items"
            if(isAdmin)
                a(href="/NewItem")="New Item"
                a(href="/Admin")="AdminCP"
            if(username)
                a(href="/Profile")=username
                a(href="/Logout")="Log Out"
            else
                a(href="/Login")="Log In"
        div(id="IntroBlock")
            if(title)
                h1(id="Title")=title
            else
                h1(id="Title")=headingTitle
            br
            h3(id="Description")=desc
        main
            block content
        footer
            p="© Riley D. Byrd and Daylan Hoff but not really because it's for school."
