extends layout.pug
block content
    h4=message

    form(action="/Register", method="POST")
        div
            label="Name: "
            input(type="text", name="name")
        div
            label="Email: "
            input(type="text", name="email")
        div
            label="Username: "
            input(type="text", name="username")
        div
            label="Password: "
            input(type="password", name="password")
        input(type="submit", value="Register")
        h3 Best IDE
            form(method='POST' action='/submitForm')
                div.form-group
                    label(for='eclipse') Eclipse:
                    br
                    input(type='radio', name='resp', value='1')#eclipse
                    br
                    label(for='vscode') Visual Studio Code:
                    br
                    input(type='radio', name='resp', value='2')#vscode
                    br
                    label(for='vs') Visual Studios:
                    br
                    input(type='radio', name='resp', value='3')#vs
                    br
                    label(for='Notepad') Notepad / Notepad ++:
                    br
                    input(type='radio', name='resp', value='4')#Notepad
                input(type="submit", value="submit")